@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor-de-fundo: #161618;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);

    
}

.botao{
    color: maroon;
    margin-bottom: 40pt;
    width: 150pt;
    background-color: orange;
    border-bottom: 4px solid var(--botao-ativo); 
    border-left: 2px solid var(--botao-ativo); 
    border-right: 2px solid var(--botao-ativo); 
    border-top: none;
    font-size: 18px;
    

}
.Titulo-principal{
    margin-top: 40pt;
    margin-bottom: 60pt;
    color: rgb(84, 84, 216);
}

body{
    font-family: "Oswald", sans-serif;
    font-size: 40pt;
    background-image: url(imagens/images.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    
}

.titulo-principal span {
    color: red;
}
.titulo-principal{
    color: blue
}
